@use "../../sass/index.scss" as *;

.chart {
  flex: 4;
  -webkit-box-shadow: $webkit-shadow;
  box-shadow: $box-shadow;
  padding: 10px;

  color: gray;

  .title {
    margin-bottom: 20px;
  }
  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}
