$background-color: rebeccapurple;
$main-bg: white;

$txt-main-color: #000;
$txt-second-color: #999;
$txt-color: #6439ff;
$txt-white: #fff;

$sidebar-height: 100vh;

$font-weight: bold;
$font-color: #7451f8;
$border-color: 0.5px solid rgb(230, 227, 227);
$navbar-border: 0.5px solid rgb(231, 228, 228);

$mobile-width: 600px;
$tablet-width: 1024px;
